# Node
node_modules/
npm-debug.log

# Build files
frontend/dist/
admin/dist/

# Env files
.env
.env.*

# Logs
logs/
*.log

# OS files
.DS_Store

# Uploads (optional - recommended to ignore)
frontend/public/uploads/

# PM2
.pm2/
